/* ===========================
   ESTILOS GLOBAIS
=========================== */
:root {
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Links padrão */
a {
  text-decoration: none;
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #000; /* evite bg FIXED */
}

body {
  padding-top: 80px;
}

/* Remove estilos herdados do template Vite */

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}