name: SonarCloud Analysis

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run Vitest with coverage
        run: node --experimental-vm-modules ./node_modules/vitest/vitest.mjs run --coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=pedrofonseca1227_LifeGarden
            -Dsonar.organization=pedrofonseca1227
            -Dsonar.sources=src
            -Dsonar.tests=tests
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.exclusions=**/node_modules/**,**/dist/**
